/* h2 {
    color: #22aade
}; */

.content{
    font-size: 15px;
    height: 350px;
    position: relative;
}

.list-group{
    list-style-type: none;
    position: relative;
    float: left;
}

.list-group-item{
    margin-top: 18px; 
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    position: relative; 
    float: left
}

.img-container{
    height: 60%;
    overflow: hidden;  
    text-align: center; 
    background:#6CADDC; 
    box-shadow: 0 3px 6px #999, 0 3px 6px #999
}

.card-body{
    box-shadow: 0 3px 6px #999, 0 3px 6px #999
}
