/* .mapspin{
    position: absolute;
    top: 30%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    background-size: cover;
    background-color:rgb(129, 230, 223);
    box-shadow: -20px -20px 50px #000 inset,
} */
.mapspin{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 78%;
    margin: auto;
    background-size: cover;
    background-color: #90e3fc;
}

/* .background{
    background-image: url(https://images-na.ssl-images-amazon.com/images/I/41i8-xMO9NL._SL500_AC_SS350_.jpg);
    background-color:#90e3fc;

  } */


/* navy #160c55 */

.geography{
    animation: spin 30s linear alternate infinite;
}

@keyframes spin{
    100%{background-position: 100%;}
}

/* !important  add this to end of property to override previous styling if needed*/

/* .mapspin{
    position: absolute;
    top: 30%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 55%;
    height: 100%;
    margin: auto;
    border-radius: 50%;
    background-size: cover;
    background-color: #22aade;
    box-shadow: -20px -20px 50px #000 inset, 0 0 20px 2px #000;
} */