.content{
    font-size: 15px;
    height: 350px;
    position: relative;
}

.list-group{
    list-style-type: none;
    position: relative;
}

.list-group-item{
    margin-top: 18px; 
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    position: relative; 
    float: left
}

.img-container{
    height: 100%;
    overflow: hidden;  
    text-align: center; 
    background:#6CADDC; 
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    background-image: url("../background.jpg")

}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    float: bottom;
   }
   
   .content{
    font-size: 15px;
    height: 350px;
    position: relative;
}
   .container{
     min-height:70vh;
     overflow: auto;
    
   }
