.footer {
      background-color:#22aade;
      height: 100px;
      color: white;
      overflow: auto;
      position:absolute;
      bottom:0;
      width:100%;
  }

  .footer span {
    bottom: 20px;
    left: 0;
    right: 0;
    padding: 3px;
    text-align: center;
    font-size: 25px;
    position: absolute;
  }


  .href{
    color: white;
  }
